.container{
  background-color: rgb(246, 221, 186);
  border: 10px solid black;
}

.title{
  text-align: center;
}

.first{
  margin-top: 5%;
}

.dessertcontainer{
  border: 2px solid black;
  border-top: 0px;
  border-bottom: 0px;
  margin: 10% 10% 10% 10%;
  
  
  
}

.flan{
  background-color: rgb(204, 196, 196);
  margin: 1%;
  padding: 10px;
  border: 1px solid black;
  display: grid;
  grid-template-areas: "logo name";
}

.img{
  margin-right: 20%;
  grid-area: logo;
  
}

.flan h2 {
  display: block;
  grid-area: name;
}

.end {
  text-align: center;
}